<div class="container pad-top">
  <a ui-sref="newSpell" class="btn-primary btn-lg nodecoration">Add New Spell</a>
  <table class="table spelltable">
      <tr>
          <td><h3>All Spells</h3></td>
          <td></td>
      </tr>
      <tr>
          <td><b>Name</b></td>
          <td><b>Level</b></td>
          <td><b>Damage Type</b></td>
          <td><b>Base Damage</b></td>
          <td></td>
      </tr>
      <tr ng-repeat="spell in spells">
          <td>{{spell.name}}</td>
          <td>{{spell.spellLevel}}</td>
          <td>{{spell.damageType}}</td>
          <td>{{spell.damage.diceNumber}}{{spell.damage.damageDice}}</td>
          <td>
              <a class="btn btn-primary" ui-sref="viewSpell({id:spell.id})">View</a>
              <a class="btn btn-danger"  ng-click="deleteSpell(spell)">Delete</a>
          </td>
      </tr>
  </table>
</div>
